<p id="notice"><%= notice %></p>

<div class = "show">
<p class = "title">
  <%= @article.title %>
</p>

<p>
  <%= markdown @article.content %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @article.updated_at %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.employee.name %>
</p>
<p>
  <strong>Contact Info:</strong>
  <%= @article.employee.email %>
  <%= @article.employee.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category.name %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %> |
<%= link_to 'Delete Article', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
