<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= markdown @article.content %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @article.updated_at %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.employee.name %>
  <%= @article.employee.email %>
  <%= @article.employee.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category.name %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %> |
<%= link_to 'Home', categories_path%>
