<p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @category.name %>
    <ul>
      <% @category.articles.each do |article| %>
        <li><%= link_to article.title, article %></li>
      <% end %>
    </ul>
  </p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' } %>
<br></br>
<%= link_to 'Back', categories_path %>
